@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light shadow-lg rounded-lg p-4">
                <div class="card-body text-center">
                    <h1 class="display-4">Leave Management System</h1>
                    <p class="lead">Welcome to the Leave Management Portal.</p>
                </div>
            </div>
        </div>
    </div>
   
</div>

